article {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-top: 3px ridge aqua;
}

img {
  width: 960px;
  height: 480px;
  border: 3px ridge aqua;
  transition: 1s ease;
}

img:hover {
  filter: brightness(50%);
}

details {
  display: inline;
  text-align: center;
  width: 50%;
  height: 100%;
}