article {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-top: 3px ridge aqua;
}

.last-project {
  border-bottom: 3px ridge aqua;
}

.hover-img {
  position: relative;
  background-color: white;
}

.project-img {
  opacity: 1;
  display: block;
  width: 640px;
  height: 360px;
  border: 3px ridge aqua;
  transition: .5s ease;
  backface-visibility: hidden;
}

.hover-img:hover .project-img {
  opacity: 0.3;
}

.hover-img:hover .hover-box {
  opacity: 1;
}

.hover-box {
  transition: 1s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 35%;
}

.hover-text {
  border: solid 3px aqua;
  padding: 12px;
}

details {
  display: inline;
  margin: 0 auto;
  text-align: center;
  width: 30%;
  height: 100%;
}

.samulnori-links {
  text-align: center;
  justify-content: center;
}

details > summary {
  list-style-type: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary:hover {
  cursor: pointer;
  border: solid 1px white;
}

details > summary::before {
  content: '+ ';
  font-weight: bolder;
}

details[open] > summary::before {
  content: '- ';
  font-weight: bolder;
}

details[open] summary ~ *{
  animation: sweep 1s ease-in-out;
}

@keyframes sweep {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.samulnori-more {
  margin-top: 30px;
}

.tech-stack {
  font-weight: bold;
}