article {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-top: 3px ridge aqua;
}

.hover-img {
  position: relative;
  transition: 1s ease;
}

img {
  width: 640px;
  height: 360px;
  border: 3px ridge aqua;
}

/* .hover-img:hover {
  opacity: 0.5;
}

.hover-text {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 40%;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.hover-text:hover {
  opacity: 1;
} */

details {
  display: inline;
  margin: 0 auto;
  text-align: center;
  width: 30%;
  height: 100%;
}