article {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-top: 3px ridge aqua;
}

.the-tower-of-rogues {
  border-bottom: 3px ridge aqua;
}

.hover-img {
  position: relative;
  transition: 1s ease;
}

.project-img {
  width: 640px;
  height: 360px;
  border: 3px ridge aqua;
}

details {
  display: inline;
  margin: 0 auto;
  text-align: center;
  width: 30%;
  height: 100%;
}

.samulnori-links {
  text-align: center;
  justify-content: center;
}

details > summary {
  list-style-type: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary::before {
  content: '+ ';
  font-weight: bolder;
}

details[open] > summary::before {
  content: '- ';
  font-weight: bolder;
}

details[open] summary ~ *{
  animation: sweep 1s ease-in-out;
}

@keyframes sweep {
  0% {opacity: 0}
  100% {opacity: 1}
}