html {
  scroll-behavior: smooth;
  background-image: url("../resources/backgrounds/StarlitSky.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

section, footer {
  background-color: rgba(0, 0, 0, 0.1);
  width: 80%;
  padding: 10px;
  margin: 50px auto;
  border: 3px ridge aqua;
  border-bottom: 3px ridge aqua;
}

header, main, footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


h1, h2, h3, h6, p, a, li {
  font-family: "VT323";
  color: white;
}

p, a, li {
  font-size: larger;
}

button {
  font-family: "VT323";
  color: black;
}

.section-title {
  font-style: oblique;
  font-weight: bold;
  font-size: 42px;
  text-align: center;
}

:target {
  animation: highlight 5s ease-out;
}

@keyframes highlight {
  0% {box-shadow: none;}
  25% {box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.4), 0 0 10px 10px rgba(255, 255, 255, 0.3);}
  75% {box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.4), 0 0 10px 10px rgba(255, 255, 255, 0.3);}
  100% {box-shadow: none;}
}

.subsection-title {
  text-align: center;
  font-weight: bold;
  font-size: 32px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
