.contact-icons {
  font-size: 12px;
  margin: 0 auto;
}

.footer-links {
  word-wrap: normal;
}

.footer-nav {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 30% 30% 30%;
  justify-content: center;
}