h1, h2, h6 {
  text-align: center;
}

h1, h6 {
  font-style: oblique;
  font-weight: bold;
}

.header-nav-bar {
  background-color: rgba(0, 0, 0, 0.1);
  width: 80%;
  padding: 10px;
  margin: 30px 50px;
  justify-content: center;
  text-align: center;
  border: 3px ridge aqua;
  border-bottom: 3px ridge aqua;
}

#header-nav-open {
  float: left;
}

#modal-button {
  float: right;
  opacity: 0.2;
}

#modal-button:hover {
  cursor: pointer;
}

.stars {
  display: inline;
  width: 30px;
  height: 30px;
  filter: grayscale(1);
}

.found {
  animation-name: found;
  animation-duration: 3s;
}

@keyframes found {
  0% {filter: grayscale(1);}
  100% {filter: grayscale(0);}
}

.star-tooltip {
  display: none;
  opacity: 0;
  transition: opacity 3s linear 1;
}

.star0:hover ~ .tooltip0 {
  display: block;
  position: fixed;
  overflow: hidden;
}

.star1:hover ~ .tooltip1 {
  display: block;
  position: fixed;
  overflow: hidden;
}