h1, h2, h6 {
  text-align: center;
}

h1, h6 {
  font-style: oblique;
  font-weight: bold;
}

.header-nav-bar {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 0 50px;
  border: 3px ridge aqua;
  border-bottom: 3px ridge aqua;
}

#modal-button {
  float: right;
}