h1, h2, h6 {
  text-align: center;
}

h1, h6 {
  font-family: "MedievalSharp", cursive;
  font-style: oblique;
  font-weight: bold;
}

.header-nav-bar {
  background-color: rgb(219, 219, 241);
  padding: 10px;
  margin: 0 50px;
  border-radius: 5px;
  border-top: 3px ridge aqua;
  border-bottom: 3px ridge aqua;
}