.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  position: relative;
  background-color: black;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

#modal-close {
  color: white;
  float: right;
  font-size: 28px;
  height: 30px;
  vertical-align: middle;
  font-weight: bold;
  text-align: center;
}

#modal-close:hover,
#modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: aqua;
  color: white;
  text-align: center;
}

.modal-main {
  padding: 2px 16px;
  text-align: center;
}

.modal-footer {
  text-align: center;
  padding: 2px 16px;
  background-color: aqua;
  color: white;
}

#answer {
  text-transform: uppercase;
  text-align: center;
}

.hint {
  display: none;
  opacity: 0;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  animation-name: animatehint;
  animation-duration: 10s;
}

@keyframes animatehint {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}