.theme-switch-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  left: 85%;
  top: 5%;
  animation-name: reveal;
  animation-duration: 5s; 
}

@keyframes reveal {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.theme-icon {
  font-size: 34px;
  color: white;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: black;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: gray;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: aqua;
  border: 1px thin aqua;
}

input:checked + .slider:before {
  transform: translateX(26px);
  background-color: white;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}