.theme-switch-wrapper {
  display: block;
  cursor: pointer;
  align-items: center;
  position: absolute;
  width: 100px;
  height: 100px;
  left: 85%;
  top: 1%;
}

.hidden:hover {
  cursor: pointer;
  border: 1px solid aqua;
}

.theme-hider {
  display: none;
  opacity: 1;
  animation-name: reveal;
  animation-duration: 5s;
}

@keyframes reveal {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.yin-yang-border{
  width: 100px;
  height: 100px;
  border: solid 3px white;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}

.yin-yang {
  width: 96px;
  box-sizing: content-box;
  height: 48px;
  background: #eee;
  border-color: black;
  border-style: solid;
  border-width: 2px 2px 50px 2px;
  border-radius: 100%;
  position: relative;
  transition: 1000ms ease-in-out all;
}

.yin-yang:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  background: #eee;
  border: 18px solid black;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  box-sizing: content-box;
}

.yin-yang:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background: black;
  border: 18px solid #eee;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  box-sizing: content-box;
}